{% extends 'base.html' %}

{% block title %}
Профиль
{% endblock %}

{% block content %}
  <ul class="nav nav-pills sticky-top bg-dark nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'main-page' %}">
        <span style="font-weight: bold; color: #00FF00">Главная</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'top-sellers' %}"><span style="font-weight: bold; color: #00FF00">Топ продавцов</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'adv-post' %}">
        <span style="font-weight: bold; color: #00FF00">Разместить объявление</span>
      </a>
    </li>
    {% if not user.is_authenticated %}
    <li class="nav-item">
      <a class="nav-link" href="{% url 'register' %}">
        <span style="font-weight: bold; color: #00FF00">Регистрация</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'login' %}">
        <span style="font-weight: bold; color: #00FF00">Войти</span>
      </a>
    </li>
    {% else %}
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="{% url 'profile' %}">
        <span style="font-weight: bold; color: #00FF00">Профиль</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">
        <span style="font-weight: bold; color: #00FF00">Выйти</span>
      </a>
    </li>
    {% endif %}
  </ul>

<div class="col" style="margin-left: auto;
                        margin-right: auto;
                        width: 900px;">
  <div class="display-5">
    <span class="badge bg-dark">Сейчас вы находитесь на сайте под ником {{ user }}.</span>
  </div>
</div>
{% endblock %}